@*@{
            ViewData["Title"] = "View";
        }

    <h2>View</h2>*@

@model DataBase



<h2>List of base tables in database</h2>
<form asp-controller="Database" method="post">
    <table>
        <thead>
            <tr>
                <td></td>
                @foreach (DataColumn col in Model.dataBaseTable.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.dataBaseTable.Rows)
            {
                <tr>
                    <td>

                        <input type="checkbox" value="@row[2]" name="SelectedTables" />
                    </td>
                    @foreach (DataColumn col in Model.dataBaseTable.Columns)
                    {
                        <td>@row[col.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" asp-action="TakeDataBaseBackupBCP" class="btn btn-primary" value="Bulk Copy Selected Tables" />
    <input type="submit" asp-action="RestoreDataBaseBackupBCP" class="btn btn-primary" value="Bulk Copy Restore Selected Tables" />
</form>
<p></p>
<label>File Path:</label>
<label id="latest-backup-name" name="latest-backup-name">
    @ViewData["databaseBackupFilePath"]
</label>
<p></p>
<p></p>
<label> Last backup:</label>
<label id="latest-backup-name" name="latest-backup-name">
    @ViewData["timeOfBackup"]
</label>
<p></p>
<p></p>
<label> Latest backup file:</label>
<label id="latest-backup-name" name="latest-backup-name">
    @ViewData["databaseBackupFileName"]
</label>
<p></p>
<form asp-controller="Database" method="post">

    <button type="submit" id="backup-database" name="backup-database" asp-action="TakeDataBaseBackup" class="btn btn-primary">
        Backup Database Full
    </button>
    <button type="submit" id="backup-database-differential" name="backup-database-differential" asp-action="TakeDataBaseBackupDifferential" class="btn btn-primary">
        Backup Database Differential
    </button>

</form>
